.fill-in { color: #731; }
.editable { color: darkgreen; }
/*.ready { background-color: #edb; } not transparent */
.ready { background-color: rgba(215,170,60,0.4); }

.titlebar { background-color: #CB9; }
.dialog, .dialogWindow { border-color: #EDB; }
.dialog input, .dialog select, .dialog textarea, .dialog button { background-color: #FEC; }

.editable:hover, .wear_wield_able:hover, .clickable:hover { background-color: #FE8; }
.dialog select option:hover { background-color:  #FE8; }

fieldset legend:hover, label:hover, .label:hover { color: #731; }  /* same as fill-in color */
#edition_watermark { color: rgba(235,223,175,0.4); }

/*.zrow { background-color: #F8F2D0; }*/
.zrow { background-color: rgba(235,223,175,0.4); }
.millenial.ability_table tr:nth-child(even) { background-color: rgba(235,223,175,0.4); }
